h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

main {
    display: flex;
    flex-flow: column;
}

div {
    padding-inline-start: 1vb;
}

#setUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-end: 1vb;
}

#setUp label {
    grid-column: 1;
    color: var(--blue);
    font-size: .9em;
}

#setUp input,
#setUp button {
    grid-row: 2;
}

#player,
#bot,
#finalResults {
    inline-size: 100%;
    background-color: var(--yellow);
    border-radius: var(--mainBorderRadius);
}

#finalResults button,
#finalResults a {
    background-color: var(--black);
    color: var(--blue);
    margin-block-end: 1vb;
}

a {
    text-decoration: none;
}

#buttonGroup {
    background-color: var(--black);
    inline-size: 100%;
    text-align: center;
}

input,
button,
a {
    background-color: var(--yellow);
    color: var(--textColour);
    font-size: 1em;
    border-radius: 5px;
    padding-inline: .2em;
    padding-block: .1em;
}

input:disabled,
button:disabled {
    background-color: var(--grey);
    color: var(--black);
}

button,
a {
    font-family: var(--titleFontFamily);
}

span {
    inline-size: fit-content;
    background-color: var(--yellow);
    block-size: 1.5em;
    margin-block: 1vb;
    border-radius: var(--mainBorderRadius);
    border: var(--border);
}

@media (min-width: 768px) {
    #setUp {
        margin-inline: 25%;
        inline-size: 50%;
    }
}

@media (min-width: 1200px) {
    main {
        margin-inline: 16.5%;
    }

    #dice {
        margin-block-start: 2vb;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vb;
    }

    #buttonGroup {
        grid-row: 2;
        grid-column: span 2;
    }
}