@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Source+Sans+3&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --titleFontFamily: Aldrich, sans-serif;
    --fontFamily: "Source Sans 3", sans-serif;
    --mainBorderRadius: 10px;
    --yellow: #ffec11;
    --blue: #1be7ff;
    --textColour: #ba2d0b;
    --grey: #757575;
    --border: 1px solid var(--black);
    --black: black;
    --white: white;
    --red: #d10000;
}

@media (prefers-color-scheme: light) {
    :root {
        --yellow: #0013ee;
        --blue: #e41800;
        --textColour: #45d2f4;
        --grey: #737373;
        --black: white;
        --white: black;
        --red: #2effff;
    }
}

body {
    font-family: var(--fontFamily);
    background-color: var(--black);
}

h1 {
    font-family: var(--titleFontFamily);
    color: var(--blue);
    font-size: 1.5em;
}

#rules {
    inline-size: fit-content;
    margin-inline: 10%;
    color: var(--blue);
    border: 3px solid var(--textColour);
    padding-block: 1vb;
    padding-inline-start: 1vb;
    padding-inline-end: 1vb;
    border-radius: var(--mainBorderRadius);
    margin-block-end: 1vb;
}

section {
    padding-inline-start: 1vb;
    background-color: var(--yellow);
    border-radius: var(--mainBorderRadius);
}

section p {
    color: var(--black);
}

h2 {
    color: var(--textColour);
}

form {
    display: flex;
    flex-direction: column;
    margin-inline: 10%;
    padding: 1vi;
    border: var(--border);
    border-radius: var(--mainBorderRadius);
    background-color: var(--yellow);
    color: var(--textColour);
}

input {
    color: var(--blue);
    background-color: var(--black);
    font-size: 1em;
}

span {
    color: var(--red);
    font-size: .7em;
    padding-bottom: .5em;
    font-style: italic;
    font-weight: bolder;
}

.errorClass {
    border: 3px solid var(--red);
}

#finalResults {
    inline-size: 50vi;
    padding-inline: 1vi;
    border-radius: var(--mainBorderRadius);
}

img {
    inline-size: 3em;
    block-size: auto;
    margin-inline-end: 1vi;
}

@media (min-width: 768px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.5em;
    }

    form>label {
        justify-self: start;
        grid-column: 1/2;
    }

    form>input:not([type="submit"]) {
        justify-self: start;
    }

    form>input[type="submit"] {
        grid-column: 2/3;
        inline-size: fit-content;
        justify-self: center;
    }

    form>span {
        grid-column: span 3;
    }
}

@media (min-width: 1200px) {
    h1{
        text-align: center;
    }
    form, #rules {
        margin-inline: 16.5%;
    }
}