@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Source+Sans+3&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --titleFontFamily: Aldrich, sans-serif;
    --fontFamily: "Source Sans 3", sans-serif;
    --mainBorderRadius: 10px;
    --yellow: #ffec11;
    --blue: #1be7ff;
    --textColour: #ba2d0b;
    --grey: #757575;
    --border: 1px solid var(--black);
    --black: black;
    --white: white;
    --red: #d10000;
}

@media (prefers-color-scheme: light) {
    :root{
      --yellow: #0013ee;
      --blue: #e41800;
      --textColour: #45d2f4;
      --grey: #737373;
      --black: white;
      --white: black;
      --red: #2effff;
    }
  }

body {
    font-family: var(--fontFamily);
    background-color: var(--black);
}

h1 {
    font-family: var(--titleFontFamily);
    color: var(--blue);
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    margin-inline: 10%;
    padding: 1vi;
    border: var(--border);
    border-radius: var(--mainBorderRadius);
    background-color: var(--yellow);
    color: var(--textColour);
}

form input{
    color: var(--blue);
    background-color: var(--black);
    font-size: 1em;
}

span {
    color: var(--red);
    font-size: .7em;
    padding-bottom: .5em;
    font-style: italic;
    font-weight: bolder;
}

.errorClass {
    border: 3px solid var(--red);
}

#finalResults {
    inline-size: 50vi;
    padding-inline: 1vi;
    border-radius: var(--mainBorderRadius);
}

img {
    inline-size: 3em;
    block-size: auto;
    margin-inline-end: 1vi;
}